/* General */
:root {
    --primary-color: #333; /* Negro */
    --secondary-color: #fff; /* Blanco */
    --accent-color: #0066cc; /* Azul */
    --background-color: #f9f9f9; /* Gris claro */
    --text-color: #555; /* Gris oscuro */
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Navegación */
.navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 0;
    position: relative;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.navbar .logo:hover {
    transform: scale(1.1);
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar .nav-links a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: var(--accent-color);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: var(--secondary-color);
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    padding: 5rem 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}

.hero .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-text {
    max-width: 600px;
}

.contact-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.contact-buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    padding: 0.75rem;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.contact-buttons .btn img {
    width: 32px;
    height: 32px;
}

.contact-buttons .btn:hover {
    background-color: var(--primary-color);
}

/* Sections */
.section {
    padding: 4rem 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

h2 {
    font-size: 2.1rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
    text-align: center; /* Centrar h2 */
}

p {
    margin-bottom: 1.5rem;
}

.service, .project, .client {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.service:hover, .project:hover, .client:hover {
    transform: translateY(-5px);
}

.services-grid, .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.services-grid {
    justify-content: center;
}

.project-list {
    grid-template-columns: 1fr 1fr;
}

.project img {
    width: 100%;
    height: 200px; /* Ajuste de altura fija */
    object-fit: cover;
}

.project-info {
    padding: 1rem;
    background-color: var(--background-color);
    /*border-top: 3px solid var(--primary-color);*/
}

.project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.project-info p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    white-space: pre-line;
}

.service img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.service-info {
    padding: 1rem;
    background-color: var(--background-color);
    /*border-top: 3px solid var(--primary-color);*/
}

.service-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.service-info p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* Espacio entre clientes */
}

.client {
    flex: 1 1 22%; /* Tamaño ligeramente mayor */
    max-width: 200px; /* Aumentar el tamaño máximo */
    height: 120px;
    display: flex; /* Cambiar a flex */
    justify-content: center;
    align-items: center;
}

.client img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Career Path */
.career-path .timeline {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 2rem 0;
    margin-top: 2rem;
    position: relative;
}

.career-path .timeline::before {
    content: '';
    position: absolute;
    height: 4px;
    /*background-color: var(--primary-color);*/
    top: 42%; /* Adjusted from 50% to 40% */
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.career-path .timeline-item {
    position: relative;
    flex: 0 0 25%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.career-path .timeline-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    /*background-color: var(--primary-color);
    border: 1px solid var(--background-color);
    top: 40%; /* Adjusted from 50% to 30% */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
}

.career-path .timeline-content {
    padding: 2rem;
    background-color: var(--background-color);
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.career-path .timeline-content h3 {
    margin-top: 0;
    color: var(--primary-color);
}

.career-path .timeline-content p {
    margin-bottom: 0;
    color: var(--text-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: var(--secondary-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar .nav-links {
        flex-direction: column;
        gap: 1rem;
        display: none;
        width: 100%;
        background-color: var(--primary-color);
        padding: 1rem 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .navbar .nav-links a {
        padding: 1rem;
        color: var(--secondary-color);
    }

    .menu-toggle {
        display: flex;
    }

    .hero .container {
        flex-direction: column;
    }

    .services-grid, .project-list {
        grid-template-columns: 1fr;
    }

    .client-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .client {
        flex: 1 1 48%; /* Dos clientes por fila */
    }

    .career-path .timeline {
        display: block;
    }

    .career-path .timeline::before {
        height: auto;
        width: 4px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .career-path .timeline-item {
        width: 100%;
        padding: 1rem 2rem;
    }

    .career-path .timeline-item::before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .career-path .timeline-content {
        margin-top: 2rem;
    }
}
